h1 {
	text-align: center;
	font-size: 34px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 26px;
}

p {
	font-size: 22px;
}

pre {
	font-size: 22px;
}

body {
	background-color: Black;
	color: White;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

.intro {
	margin-top: 50px;
}

.aboutMe {
	margin-top: 75px;
}

.stories {
	margin-top: 75px;
	margin-bottom: 100px;
}

.prose {
	background-color: Black;
	color: White;
	margin-top: 50px;
	margin-left: 120px;
	margin-right: 120px;
	margin-bottom: 200px;		
}

.footer {
	margin-top: 50px;
	margin-bottom: 25px;
}

.code {
	margin-bottom: 50px;
}

a:link {
	text-decoration: none;
	color: LightSkyBlue;
}


a:visited {
	text-decoration: none;
	color: LightBlue;
}

a:hover {
	text-decoration: underline;
	color: LightBlue;
}

.centerGif {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.leftGif {
	display: block;
	margin-left: 50;
	margin-right: auto;
}

.rightGif {
	display: block;
	margin-left: auto;
	margin-right: 50;
}
