h1 {
	text-align: center;
	font-size: 34px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 26px;
}

p {
	font-size: 22px;
}

body {
	background-color: Black;
	color: White;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;	
}

a:link {
	text-decoration: none;
	color: LightSkyBlue;
}


a:visited {
	text-decoration: none;
	color: LightBlue;
}

a:hover {
	text-decoration: underline;
	color: LightBlue;
}
