h1 {
	text-align: center;
	font-size: 34px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 26px;
}

p {
	font-size: 22px;
}

title {
	color: white;
	font-family: monospace;
	/* font-family: Arial, Helvetica, sans-serif; */
}

body {
	background-color: black;
	color: white;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: Arial, Helvetica, sans-serif;
}
	
.indent {
	margin-left: 40px;
}

a:link {
	text-decoration: none;
	color: LightSkyBlue;
}

a:visited {
	text-decoration: none;
	color: LightSkyBlue;
}

a:hover {
	text-decoration: underline;
}
