h1 {
	text-align: center;
	font-size: 34px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 26px;
}

p {
	font-size: 22px;
}

body {
	background-color: Black;
	color: White;
	margin-top: 50px;
	margin-left: 120px;
	margin-right: 120px;
	margin-bottom: 200px;		
}
